---
import Layout from "../../layouts/LayoutBase.astro";
import { Image } from "astro:assets";
import PresseFotoKnut from "../../images/pressefoto_Knut.jpeg";
---

<Layout title="Knut Red">
  <div
    transition:animate="slide"
    class="flex flex-col justify-center items-center"
  >
    <Image
      src={PresseFotoKnut}
      class="hover:scale-105 active:scale-95 size-40 md:size-52 border-4 md:border-6 border-slate-500 dark:border-amber-300"
      alt="potrait of Knut Rothe"
      loading={"eager"}
    />
    <p class="pt-5 max-w-2xl text-center">
      Knut Red | Media Computer Scientist | Speaker of Linksjugend [solid']
      Thuringen | SMM of @heartfieldfilm | Compositing |
      <a class="font-bold" href="/">[switch to german]</a>
    </p>
    <p></p>
  </div>
</Layout>
