---
import Layout from "../../layouts/LayoutBase.astro";
import { Image } from "astro:assets";
import PresseFotoKnut from "../../images/pressefoto_Knut.jpeg";
---

<script>
  // Import npm modules.
  //@ts-ignore because it's a js libary
  import confetti from "canvas-confetti";

  // Find our component DOM on the page.
  const confettiButtons = document.querySelectorAll("[confetti-button]");
  //@ts-ignore
  function randomInRange(min, max) {
    //@ts-ignore
    return Math.random() * (max - min) + min;
  }
  // Add event listeners to fire confetti when a button is clicked.
  confettiButtons.forEach((button) => {
    button.addEventListener("click", () => 
      confetti({
        angle: randomInRange(55, 125),
        spread: randomInRange(50, 70),
        particleCount: randomInRange(50, 100),
        origin: { y: 0.6 },
      })
    );      
  });
</script>
<Layout title="Knut Red">
  <div
    class="flex flex-col items-center justify-center"
  >
    <button confetti-button>
      <Image
        src={PresseFotoKnut}
        class="md:border-6 size-40 border-4 border-slate-500 hover:scale-105 active:scale-95 md:size-52 dark:border-amber-300"
        alt="potrait of Knut Rothe"
        loading={"eager"}
      />
    </button>
    <p class="max-w-2xl pt-5 text-center">
      Knut Red | Media IT Specialist & Videographer | Speaker of
      Linksjugend [solid'] Thüringen |
      <a class="font-bold" href="/">[switch to german]</a>
    </p>
    <p></p>
  </div>
</Layout>
