---
import Layout from "../../layouts/LayoutBase.astro";
---

<Layout title="Contact">
  <div transition:animate="slide">
    <h1 class="">Contact:</h1>
    <p class="">
      Email: <a class="" href="mailto:knut@roteelster.studio"
        >knut@roteelster.studio</a
      >
    </p>
    <p class="">
      Linkedin: <a
        href="https://www.linkedin.com/in/knutrothe        "
        target="_blank">Knut C. Rothe</a
      >
    </p>
    <p class="">
      Instagram: <a href="https://www.instagram.com/knut.red/" target="_blank"
        >@knut.red</a
      >
    </p>
    <p class="">
      Twitter: <a href="https://x.com/KnutRed" target="_blank">@KnutRed</a>
    </p>
    <p class="">
      Bluesky: <a
        href="https://bsky.app/profile/knutred.bsky.social"
        target="_blank">@knutred.bsbky.social</a
      >
    </p>
  </div>
</Layout>
