---
import Layout from "../layouts/LayoutBase.astro";
import { Image } from "astro:assets";
import PresseFotoKnut from "../images/pressefoto_Knut.jpeg";
---

<Layout title="Knut Red">
  <div
    transition:animate="slide"
    class="flex flex-col justify-center items-center"
  >
    <Image
      src={PresseFotoKnut}
      class="size-40 md:size-52 border-4 md:border-6 border-slate-500 dark:border-amber-300"
      alt="Potrait von Knut Rothe"
      loading={"eager"}
    />
    <p class="pt-5 max-w-2xl text-center">
      Vielseitig | Medien-Informatiker |<br /> Landessprecher der Linksjugend [solid’]
      Thüringen |<br /> SMM des Kinofilms: Johnny & Me | Alles rund um Dokumentarfilme<br />
    </p>
    <p></p>
  </div>
</Layout>
