---
import Layout from "../layouts/LayoutBase.astro";
---

<Layout title="Kontakt">
  <div >
    <h1 class="">Kontakt:</h1>
    <p class="">
      Email: <a class="" href="mailto:knut@roteelster.de">knut@roteelster.de</a>
    </p>
    <p class="">
      Linkedin: <a
        href="https://www.linkedin.com/in/knutrothe        "
        target="_blank">Knut C. Rothe</a
      > [nur selten!]
    </p>
    <p class="">
      Instagram: <a href="https://www.instagram.com/knut.red/" target="_blank"
        >@knut.red</a
      >
    </p>
    <p class="">
      Twitter: <a href="https://x.com/KnutRed" target="_blank">@KnutRed</a>
    </p>
    <p class="">
      Bluesky: <a
        href="https://bsky.app/profile/knutred.bsky.social"
        target="_blank">@knutred.bsbky.social</a
      >
    </p>
  </div>
</Layout>
