---
import Layout from "../layouts/LayoutBase.astro";
---

<Layout title="Kontakt">
  <div transition:animate="slide">
    <h1 class="">Kontakt:</h1>
    <p class="">
      Email: <a class="" href="mailto:knut@roteelster.studio"
        >knut@roteelster.studio</a
      > [Sicher]
    </p>
    <p class="">
      Instagram: <a href="https://www.instagram.com/knut.red/" target="_blank"
        >@knut.red</a
      >
      <p class="">
        Twitter: <a href="https://x.com/KnutRed" target="_blank">@KnutRed</a>
        <p class="">
          Bluesky: <a
            href="https://bsky.app/profile/knutred.bsky.social"
            target="_blank">@knutred.bsbky.social</a
          >
        </p>
      </p>
    </p>
  </div></Layout
>
