---
import Layout from "../layouts/LayoutBase.astro";
---

<Layout title="Projekte">
  <div transition:animate="slide">
    <h1>Web-Projekte:</h1>
    <h2>
      <a href="https://bitchytarot.vercel.app" target="_blank">Bitchy Tarot</a> [WD-Awards
      Nominee]
    </h2>
    <h2>
      <a href="https://drwrct.de" target="_blank">drwrct.de</a> [meine UX-Designerin]
    </h2>
    <!-- TODO: check number -->
    <h2>
      <a href="https://katrinrothe.de" target="_blank">katrinrothe.de</a> [great
      SEO]
    </h2>
    <h2>
      <a href="https://heartfieldfilm.de" target="_blank">heartfieldfilm.de</a> [great
      SEO]
    </h2>
    <h2>
      <a href="https://heartfieldfilm.com" target="_blank">heartfieldfilm.com</a
      > [great SEO]
    </h2>
    <h2>
      <a href="https://hao-are-you.com/" target="_blank">hao-are-you.com</a>
    </h2>
    <h2>
      <a href="https://cardroulette.vercel.app" target="_blank">Card Roulette</a
      >
    </h2>
    <h2>
      <a href="https://knutred.github.io" target="_blank">knutred.github.io</a
      > [du bist hier]
    </h2>
    <h2>Vierleicht deine individuellste Web-Seite als Nächstes!</h2>
  </div>
</Layout>