---

---

<footer class="">
  <a href="/projekte"
    class="text-slate-500 hover:no-underline animate-none absolute left-5 dark:text-amber-300 font-black bottom-5 text-4xl text-left"
  >
    Proj<br />
    ekte
  </a>
  <a
    href="/kontakt"
    class="text-slate-500 animate-none hover:no-underline dark:text-amber-300 font-black bottom-5 absolute right-5 text-4xl text-right"
  >
    Kon<br />
    takt
  </a>
</footer>
