---

---

<footer class="">
  <a
    class="text-slate-500 absolute left-5 dark:text-amber-300 font-black bottom-5 text-5xl text-left"
  >
    Proj<br />
    ekte
  </a>
  <a
    class="text-slate-500 dark:text-amber-300 font-black bottom-5 absolute right-5 text-4xl text-right"
  >
    Kon<br />
    takt
  </a>
</footer>
