---

---

<header class="">
  <a
    class="top-5 absolute text-slate-500 dark:text-amber-300 font-black text-4xl left-5 text-left"
  >
    Kn<br />
    ut
  </a>
  <a class="top-5 absolute text-red-400 font-black text-4xl right-5 text-right">
    Rot<br />
    he
  </a>
</header>
