---

---

<header class="">
  <a
    onmousedown="navigator.vibrate(100)"
    ontouchstart="navigator.vibrate(100)"
    href="/."
    class="top-5 absolute hover:no-underline animate-none
     text-slate-500 dark:text-amber-300 font-black text-4xl left-5 text-left"
  >
    Kn<br />
    ut
  </a>
  <a
    onmousedown="navigator.vibrate(100)"
    ontouchstart="navigator.vibrate(100)"
    href="/."
    class="animate-none hover:no-underline top-5 absolute text-red-400 font-black text-4xl right-5 text-right"
  >
    Rot<br />
    he
  </a>
</header>
