---

---

<header class="">
  <a id="#nav-item"
    href="/."
    class="top-5 absolute hover:no-underline animate-none
     text-slate-500 dark:text-amber-300 font-black text-4xl left-5 text-left"
  >
    Kn<br />
    ut
  </a>
  <a id="#nav-item"
    href="/."
    class="animate-none hover:no-underline top-5 absolute text-red-400 font-black text-4xl right-5 text-right"
  >
    Rot<br />
    he
  </a>
</header>
<script is:inline>
  document.querySelector('#nav-item').addEventListener('click', function() {
  // Vibrate for 200ms
  if (navigator.vibrate) {
    navigator.vibrate(200);
  }
});
</script>
