---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="lang">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🟨</text></svg>"
    />
    <ViewTransitions />

    <!-- Add Meta tags -->
    <meta
      name="description"
      content="Knut Rothe ist ein freiberuflicher Medien-Informatiker in Jena"
    />
    <meta name="author" content="Knut Rothe" />
    <meta
      name="keywords"
      content="Knut, Knut Rothe, Knut Casper Rothe, Rothe, Casper, Web-dev, Red, Knutred, Knut Red, red knut, knut.red, red.knut, redknut"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="min-h-screen flex justify-center">
    <Header />

    <main class="my-auto p-5">
      <slot />
    </main>

    <Footer />
    <style is:global>
      /* Tailwind */
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @font-face {
        /*
        Unused so far
        font-family: "GeistVariableVF";
        src: url("/fonts/GeistVariableVF.woff2") format("truetype");
        */
        font-family: "GeistMonoVariableVF";
        src: url("/fonts/GeistMonoVariableVF.woff2") format("truetype");
      }

      @layer base {
        html {
          font-family: "GeistMonoVariableVF", system-ui, sans-serif;
        }
        body {
          @apply bg-amber-300 selection:bg-slate-600;
          @apply dark:bg-slate-600 dark:selection:bg-amber-300;
          @apply text-base;
          @apply md:text-xl;
          @apply text-slate-600 selection:text-amber-300;
          @apply dark:text-amber-300 dark:selection:text-slate-600;
        }
        h1 {
          @apply font-bold;
        }
        a {
          @apply hover:underline;
          @apply hover:animate-pulse;
          @apply hover:underline-offset-4;
        }
      }
    </style>
  </body>
</html>
